<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'Reception/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'Reception/css/form.css' %}">
        <title>{% block title %}Clinic App{% endblock %}</title>
    </head>
    <body>
        <header class="nav-bar">
            <div class="logo">
                <h5>LOGO</h5>
            </div>
            <div class="clinic-name">
                <h5>U Tin Htun Naing's Local Clinic</h5>
            </div>
            <div class="login-wrapper">
                <button class="login-btn" type="button"><h5>Login | Sign Up</h5></button>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
            {% block extra_js %}
            {% endblock %}
        </main>
    </body>
</html>