<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'Reception/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'Reception/css/form.css' %}">
        <title>{% block title %}Book for Today{% endblock %}</title>
        <script>
            function goHome() {
                setTimeout(function() {
                    window.location.href = "{% url 'reception:home' %}";
                }, 500);
            }
        </script>
    </head>
    <body>
        <img class="form-bg" src="{% static 'Reception/images/ClinicFront.png' %}" alt="Image showing the entrance of the Clinic">
        <div class="form-container">
            <form class="book-today-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                    {{ form.phone_number }}
                </div>
                <div class="errors">
                    {% if form.name.errors %}
                        <div class="name-error">
                            {{ form.name.errors }}
                        </div>
                    {% endif %}                    
                    {% if form.phone_number.errors %}
                        <div class="phone-number-error">
                            {{ form.phone_number.errors }}
                        </div>
                    {% endif %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="non-field-error-message">
                                {{ error|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if form.name.errors or form.phone_number.errors or form.non_field_errors %}
                    <script>
                        function showErrorMessages() {
                            const errorContainer = document.querySelector('.errors');
                            if (errorContainer) {
                                errorContainer.classList.add('show');
                            }
                        }
                        window.onload = showErrorMessages;
                    </script>
                {% endif %}
                <div class="button-container">
                    <button class="submit-today-btn" type="submit">Book</button>
                    <button onclick="goHome()" class="cancel-btn" type="button">Cancel</button>
                </div>
            </form>
            <div id="success-message">
                <h5>Booking Successful!</h5>
                <h5>You will be redirected shortly...</h5>
            </div>
            {% if success %}
                <script>
                    function showSuccessAndRedirect() {
                        const successMessage = document.getElementById('success-message');
                        successMessage.classList.add('show');

                        setTimeout(function() {
                            window.location.href = "{% url 'reception:home' %}";
                        }, 2500);
                    }
                    window.onload = showSuccessAndRedirect;
                </script>
            {% endif %}
            <script>
                document.addEventListener('click', function(event) {
                    const errorContainer = document.querySelector('.errors');

                    if (errorContainer && !errorContainer.contains(event.target)) {
                        if (errorContainer.classList.contains('show')) {
                            errorContainer.classList.remove('show');
                        }
                    }
                });
            </script>
        </div>
    </body>
</html>