<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'Reception/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'Reception/css/form.css' %}">
        <script>
            function goHome() {
                setTimeout(function() {
                    window.location.href = "{% url 'home' %}";
                }, 500);
            }
        </script>
    </head>
    <body>
        <img src="{% static 'Reception/images/ClinicFront.jpg' %}">
        <div class="form-container">
            <form class="book-today-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-container">
                    <button class="submit-today-btn" type="submit">Book</button>
                    <button onclick="goHome()" class="cancel-btn" type="button">Cancel</button>
                </div>
                <div id="success-message">
                    <h5>Booking Successful</h5>
                    <h5>You will be redirected shortly...</h5>
                </div>
                {% if success %}
                <script>
                    function showSuccessAndRedirect() {
                        const successMessage = document.getElementById('success-message');
                        successMessage.classList.add('show')

                        setTimeout(function() {
                            window.location.href = "{% url 'home' %}";
                        }, 2500);
                    }
                    window.onload = showSuccessAndRedirect;
                </script>
                {% endif %}
            </form>
        </div>
    </body>
</html>