html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
}

h5 {
    margin: 0;
}

.nav-bar {
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
    height: 10vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo, .login-btn {
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-wrapper {
    justify-self: end;
}

.clinic-name {
    color: blue;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.login-btn {
    background-color: white;
    border: none;
}

.clinic-img {
    /* Shorthand for flex-grow: 1,  flex-shrink: 1, and flex-basis: 0% */
    flex: 1;

    height: 38.7rem;
    overflow: hidden;
}

#waiting-room-img {
    float: none;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.status-and-booking {
    display: flex;
    width: 100%;
    background-color: #EEEEEE;
}

.status-and-booking h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
}

.doctor-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.ap-btn-wrap-open {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.ap-today-btn, .ap-later-btn {
    background-color: #007BFF;
    color: #FFFFFF;
    width: 15vw;
    height: 13vh;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: background-color 0.5s, box-shadow 0.0001s;
}

.ap-btn-wrap-closed .ap-later-btn, .ap-btn-wrap-open button {
    width: 19vw;
    height: 14vh;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
}