html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
}

h5 {
    margin: 0;
}

.nav-bar {
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
    height: 10vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo, .login-btn {
    color: #007BFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-wrapper {
    justify-self: end;
}

.clinic-name {
    color: #007BFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.login-btn {
    background-color: white;
    border: none;
}

.clinic-img, .store-img {
    /* Shorthand for flex-grow: 1,  flex-shrink: 1, and flex-basis: 0% */
    flex: 1;
    overflow: hidden;
}

#waiting-room-img, #storefront-img {
    float: none;
    margin: 0;
    width: 100%;
    height: 38.7rem;
    object-fit: cover;
}

.status-and-booking, .list-or-ad {
    display: flex;
    width: 100%;
    background-color: #EEEEEE;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.status-and-booking {
    min-height: 39rem;
}

.list-or-ad {
    flex-direction: column;
    background-color: #FFFFFF;
}

.closed-headings h1, .closed-headings h3 {
    margin: 0;
}

.doctor-in h1, .closed-headings h1, .ap-closed h1, .closed-queue h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
    color: #003366;
}

.closed-headings h1 {
    margin-top: 1rem; /* Add top margin to the heading for spacing */
}

.closed-headings h3 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
    color: #003366;
    margin-top: 1rem; /* Adjust spacing between the heading and countdown */
    margin-bottom: 0rem; /* Can be adjusted to add a gap */
}

#coundown {
    margin-bottom: 3rem;
}

.doctor-in, .closed-queue, .ap-check {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.ap-btn-wrap-open {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.ap-btn-wrap-closed {
    margin-top: 1rem; /* Adjust this as needed for desired spacing */
}

.ap-today-btn, .ap-later-btn {
    background-color: #007BFF;
    color: #FFFFFF;
    width: 15vw;
    height: 13vh;
    font-size: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: background-color 0.5s, box-shadow 0.0001s;
}

.ap-today-btn.disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
    position: relative;
}

.ap-today-btn.disabled::after {
    content: attr(data-tooltip); /* Gets the text from the data attribute */
    position: absolute;
    bottom: 110%; /* Puts the tooltip above the button */
    left: 50%;
    transform: translateX(-50%); /* Centers the tooltip horizontally */

    padding: 0.5rem;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    white-space: nowrap; /* Prevents the text from wrapping */
    visibility: hidden; /* Hides the tooltip by default */
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;

    z-index: 10;
}

.ap-today-btn.disabled:hover::after {
  visibility: visible;
  opacity: 1; /* Makes the tooltip appear on hover */
}

.too-late-btn {
    background-color: rgba(0, 123, 255, 0.5);
}

.ap-btn-wrap-closed button, .ap-btn-wrap-open button {
    width: 19vw;
    height: 14vh;
}

button:hover:not(.disabled) {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
}