html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
}

h5 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: 0 auto;
    min-height: calc(100vh - 10vh);
}

.nav-bar {
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
    height: 10vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo-img {
    height: 10vh;
    width: 5vw;
}

.login-btn {
    color: #007BFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-wrapper {
    justify-self: end;
}

.clinic-name {
    color: #007BFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.login-btn {
    background-color: white;
    border: none;
}

.clinic-img, .store-img {
    /* Shorthand for flex-grow: 1,  flex-shrink: 1, and flex-basis: 0% */
    flex: 1;
    overflow: hidden;
}

#waiting-room-img, #storefront-img {
    float: none;
    margin: 0;
    height: 39.2rem;
    object-fit: cover;
    display: block;
}

.clinic-img img {
    width: 100%;
}

.store-img img {
    border-radius: 1.6rem;
    width: 45rem;
}

.status-and-booking, .list, .third-section {
    display: flex;
    width: 100%;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.status-and-booking {
    min-height: 39rem;
    background-color: #EEEEEE;
}

.third-section {
    flex-direction: row;
    min-height: 38rem;
    background-color: #F40009;
    padding-bottom: 1.5rem;
}

.doctor-in, .closed-queue, .ap-check, .store-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.list {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}

.list .ap-check {
    background-color: #FFFFFF;
}

.ap-list, .pagination {
    margin-bottom: 1rem;
    text-align: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1.25rem;
    background-color: #F7F7F7;
    border-radius: 0.5rem;
}

.queue-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 5rem;
    padding: 0.938rem 1.25rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.token-number {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(54, 195, 59);
    justify-self: start;
}

.patient-name {
    font-size: 1.25rem;
    font-weight: 700;
    color: #2930f3;
    justify-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.patient-status {
    font-size: 1.25rem;
    font-weight: 700;
    color: #ff8c00;
    justify-self: end;
}

.closed-headings h1, 
.closed-headings h3, 
.open-headings h1, 
.open-headings h3 {
    margin: 0;
}

.doctor-in h1, 
.closed-headings h1, 
.ap-closed h1, 
.closed-queue h1, 
.open-headings h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
    color: #003366;
}

.doctor-in {
    margin-top: 10rem;
}

.doctor-in .list-indicator h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

.shill-heading-closed, .shill-heading-open {
    background-color: #F40009;
}

.shill-heading-open h1,
.shill-heading-closed h1 {
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
    color: #FFFFFF;
}

.closed-headings h1, .open-headings h1 {
    margin-top: 1rem; /* Add top margin to the heading for spacing */
}

.closed-headings h3, .open-headings h3 {
    font-size: 2rem;
    text-align: center;
    line-height: 3.5rem;
    color: #003366;
    margin-top: 1rem; /* Adjust spacing between the heading and countdown */
    margin-bottom: 1rem; /* Can be adjusted to add a gap */
}

#countdown {
    margin-bottom: 1rem;
}

.store-info h1 {
    color: #FFFFFF;
    font-family: cursive;
}

.ap-btn-wrap-open {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.ap-btn-wrap-closed {
    margin-top: 1rem; /* Adjust this as needed for desired spacing */
}

.ap-today-btn, .ap-later-btn {
    background-color: #007BFF;
    color: #FFFFFF;
    width: 14vw;
    height: 12vh;
    font-size: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    transition: background-color 0.5s, box-shadow 0.0001s;
}

.ap-today-btn.disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
    position: relative;
}

.ap-today-btn.disabled::after {
    content: attr(data-tooltip); /* Gets the text from the data attribute */
    position: absolute;
    bottom: 110%; /* Puts the tooltip above the button */
    left: 50%;
    transform: translateX(-50%); /* Centers the tooltip horizontally */

    padding: 0.5rem;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    white-space: nowrap; /* Prevents the text from wrapping */
    visibility: hidden; /* Hides the tooltip by default */
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;

    z-index: 10;
}

.ap-today-btn.disabled:hover::after {
  visibility: visible;
  opacity: 1; /* Makes the tooltip appear on hover */
}

.too-late-btn {
    background-color: rgba(0, 123, 255, 0.5);
}

.ap-btn-wrap-closed button, .ap-btn-wrap-open button {
    width: 19vw;
    height: 14vh;
}

button:hover:not(.disabled) {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
}